<div>

    <table class="table table-bordered">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Modified</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <a href="#" class="btn btn-link text-decoration-none">Sit</a>
            </td>
            <td>2020-03-16</td>
            <td>
                <a href="#" class="btn btn-link text-decoration-none">Edit scheme</a>
                <a href="#" class="btn btn-link text-decoration-none text-danger">delete</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <a href="#" class="btn btn-link text-decoration-none">Adipisicing</a>
            </td>
            <td>2020-03-15</td>
            <td>
                <a href="#" class="btn btn-link text-decoration-none">Edit scheme</a>
                <a href="#" class="btn btn-link text-decoration-none text-danger">delete</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <a href="#" class="btn btn-link text-decoration-none">Hic</a>
            </td>
            <td>2020-03-14</td>
            <td>
                <a href="#" class="btn btn-link text-decoration-none">Edit scheme</a>
                <a href="#" class="btn btn-link text-decoration-none text-danger">delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>