<div>

    <table class="table ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Modified</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        {{ modelschema_list }}
        {% for schema in modelschema_list %}
            hello
            {{ schema }}
            {{ schema.pk }}
            {{ schema.title }}
            {{ schema.creator }}
            <tr>
                <th scope="row">{{ schema.id }}</th>
                <td>{{ schema.title }}</td>
                <td>{{ schema.time_to_create }}</td>
                <td>
                    <a class="btn btn-link" href="#">Edit</a>
                    <a class="btn btn-danger" href="#">Delete</a>
                </td>
            </tr>
        {% endfor %}

        <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>Consectetur</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Adipisicing</td>
            <td>Elit</td>
            <td>Sint</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Hic</td>
            <td>Fugiat</td>
            <td>Temporibus</td>
        </tr>
        </tbody>

    </table>


</div>