{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    Empty!!
    <form action="{% url 'schemes:schema_add' %}" method="post">
        {% csrf_token %}
        {{ modelschema }}

       

{#        <div class="form-row">#}
{#            #}
{#            <div class="col-md-6">#}
{#                <div class="form-group">#}
{#                    <label class="small mb-1" for="{{ form. }}">First Name</label>#}
{#                </div>#}
{#            </div>#}

{#            <div class="col-md-6">#}
{#                <div class="form-group">#}
{#                    <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Last Name</label>#}
{#                    {{ form.last_name }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </form>

{% endblock %}
